{% extends 'base.html' %}

{% load static %}

{% block content %}

<p><h2>Requests</h2></p>

<div>
  <ol class="list-group list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="{% url 'sliders:detail' request.id %}">{{ request.file_name }}</a></div>
        {{ request.requester.username }}
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
  </ol>
</div>
<br>
<div>
  <p><h5>{{ contributions | length }} Contributions</h5></p>
    <ol class="list-group list-group-numbered">

        {% for contribution in contributions %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><a href="{% url 'sliders:detail' request.id %}">{{ contribution.file.name }}</a></div>
            {{ contribution.contributor.username }}
          </div>
          <!--<span class="badge bg-primary rounded-pill">14</span>-->
        </li>
        {% endfor %}

      </ol>
</div>
  

{% endblock %}

{% block sidecontent %}

<!-- ======= Sidebar ======= -->
<div class="aside-block">

  <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
    
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Recent Requests</button>
    </li>
    
  </ul>

  <div class="tab-content" id="pills-tabContent">

    <!-- Popular -->
    <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
      <div>
        <h4>Requests</h4>
      <ol>
        
        {% for request in all_requests %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ request.file_name }}</div>
            {{ request.requester.username }}
          </div>
          <!--<span class="badge bg-primary rounded-pill">14</span>-->
        </li>
        <br>
        {% endfor %}
        
      </ol>
    </div>

    </div> <!-- End Popular -->

  </div>
</div>

{% endblock %}