{% extends 'base.html' %}

{% load static %}

{% block content %}

<main>

  <h3>Library</h3>
  <!--<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>-->

  <div class="album py-5 bg-light">

    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        {% for file in files %}
        <div class="col">
          <div class="card shadow-sm">
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
            <div class="photo"><img src="{% static file.back_img.url %}" alt="" height="300" class="img-fluid"></div>
            <div class="card-body">
              <p class="card-text">
                <h5>{{ file.file_name }}</h5>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                </div>
                <small class="text-muted">1k likes</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

</main>


{% endblock %}


{% block trending %}

<!-- News & Updates Traffic -->
<div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>

  <div class="card-body pb-0">
    <h5 class="card-title">Trending | Today</span></h5>

    <div class="news">

      {% for trend in trending %}
      <div class="post-item clearfix">
        <img src="{% static trend.back_img.url %}" alt="">
        <h4><a href="#">{{ trend }}</a></h4>
        <p>{{ trend.likes }} likes</p>
        <p>Posted by {{ trend.owner.user.username }} at {{ trend.pub_date.time }}</p>
      </div>
      {% endfor %}
      

    </div><!-- End sidebar recent posts-->

  </div>
</div><!-- End News & Updates -->

{% endblock %}

{% block activity %}

<!-- Recent Activity -->
<div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>

  <div class="card-body">
    <h5 class="card-title">Recent Activity <span>| Today</span></h5>

    <div class="activity">

      {% for request in requests %}

      <div class="activity-item d-flex">
        <div class="activite-label">{{ request.pub_date | timesince }}</div>
        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
        <div class="activity-content">
          {{ request.file_name }} <br>
          <a href="#" class="fw-bold text-dark">{{ request.requester.username }}</a>
        </div>
      </div><!-- End activity item-->

      {% endfor %}

    </div>

  </div>
</div><!-- End Recent Activity -->

{% endblock %}

{% block latest %}

<!-- News & Updates Traffic -->
<div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>

  <div class="card-body pb-0">
    <h5 class="card-title">Latest | Today</span></h5>

    <div class="news">

      {% for discussion in latest %}
      <div class="post-item clearfix">
        <img src="{% static discussion.creator.back_img.url %}" alt="">
        <h4><a href="#">{{ discussion.content }}</a></h4>
        <p>{{ discussion.description }}</p>
      </div>
      {% endfor %}
      

    </div><!-- End sidebar recent posts-->

  </div>
</div><!-- End News & Updates -->

{% endblock %}